<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
   <!-- Halaman Navbar Beranda -->
   <nav class="navbar navbar-expand-lg navbar-dark shadow-sm" style="background-color: #0C1027;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../../../assets/img/uv 1.svg" width="150px" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto ">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Beranda</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Postingan</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Berita</a></li>
              <li><a class="dropdown-item" href="#">Daftar Anak Hilang</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Edukasi</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pesan</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><img src="../../../assets/img/Foto Profil.svg" class="FotoProfil" width="35px" alt=""></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
    <!-- Akhir Navbar Halaman Beranda -->

    <!-- Main-Content -->

    <section class="main-content">
      <div class="main">
        <h2>Selamat Datang</h2>
      </div>
    </section>

</body>
</html>
