*{
    font-family: 'Space Grotesk', sans-serif;
}

.nav-item {
    font-size: 21px;
    margin-right: 70px;
    margin-left: -30px;
    justify-items: left;
}

.nav-item:hover::after {
    content: '';
    display: block;
    border-bottom: 3px solid  #FAFAFA;
    width: 80%;
    margin: auto;
}

.nav-item:hover {
    color: #FAFAFA;
}

.FotoProfil {
    margin-right: 20px;
}

.main {
    height: 100vh;
    background-color: #060919;
}

section.main-content {
    color:#fff ;
    background-image: url("../../../assets/img/Ombak.png");
} 

h2 {
    position: absolute;
    font-size: 35px;
    font-weight: bold;
    top: 90px;
    margin-left: 80px;
    text-align: center;
}

.Statistik {
    position: absolute;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    top: 240px ;
    margin-left: 90px;
}

h5 {
    position: absolute;
    color: #FFC947;
    font-size: 42px;
    margin-left: 20px;
    margin-top: 10px;
}

h5.i {
    left: 12px;
}

h5.o {
    left: 15px;
}
.Pengunjung {
    margin-top: 60px;
    margin-right: 130px;
    }

.Komentar {
    margin-top: 60px;
    margin-right: 120px;
}

.Pesan {
    margin-top: 60px;
    margin-right: 155px;
}

.Pengunjung,.Pesan,.Komentar {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    color: #FFC947;
    text-align: center;
}

.kotak1,.kotak2,.kotak3 {
    position: absolute;
    width: 306px;
    height: 182px;
    background: #0C1027;
    border-radius: 20px;
    margin-left: 10px;
}

.icon {
    position: absolute;
    margin-top: -40px;
}

.kotak1 {
    left: 72px;
    top: 280px;
}
.kotak2 {
    left: 398px;
    top: 280px;
}
.kotak3 {
    left: 724px;
    top: 280px;
}

p {
    margin-top: 7px;
}

.vector2 {
    position: absolute;
    width: 1000px;
    bottom: -100px;
    right: -5px;
    overflow-x:hidden;
}

.footer {
    z-index: 9999;
}

