*{
    font-family: 'Space Grotesk', sans-serif;
}


.nav-item {
    font-size: 21px;
    margin-right: 70px;
    margin-left: -30px;
    justify-items: left;
}

.nav-item a {
    color: #FAFAFA;
}

.nav-item:hover::after {
    content: '';
    display: block;
    border-bottom: 3px solid  #030303;
    width: 80%;
    margin: auto;
}

.nav-item:hover {
    color: #FAFAFA;
}

.kotak {
    margin-top: 50px;
    margin-left: 170px;
    height: 550px;
    width: 813px;
    background-color: #B4B4B4;
}

.kotak2 {
    position: absolute;
    box-sizing: border-box;
    height: 233px;
    width: 297px;
    left: 1031px;
    top: 252px;
    border: 1px solid black;
}

a .tambah {
    position: absolute;
    margin-left: 500px;
    margin-top: -35px;
}

h3 ,p {
    padding-left: 20px ;
}

.draft {
    position: absolute;
    width: 297px;
    height: 50px;
    left: 1031px;
    top: 575px;
}

.upload {
    position: absolute;
    width: 297px;
    height: 50px;
    left: 1031px;
    top: 505px;
}