*{
    font-family: 'Space Grotesk', sans-serif;
}


.nav-item {
    font-size: 21px;
    margin-right: 70px;
    margin-left: -30px;
    justify-items: left;
}

.nav-item a {
    color: #FAFAFA;
}

.nav-item:hover::after {
    content: '';
    display: block;
    border-bottom: 3px solid  #030303;
    width: 80%;
    margin: auto;
}

.nav-item:hover {
    color: #FAFAFA;
}

.kotak {
    margin-top: 50px;
    height: 327px;
    width: 512px;
    background-color: darkgrey;
}