<!-- Halaman Navbar Beranda -->
<nav class="navbar navbar-expand-lg navbar-dark shadow-sm" style="background-color: #3C6BC6;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../../../assets/img/uv 1.svg" width="150px" class="ml-5" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto ">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="Beranda">Beranda</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Postingan</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="Berita">Berita</a></li>
              <li><a class="dropdown-item" routerLink="DaftarKehilanganAnak">Daftar Anak Hilang</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" routerLink="Edukasi">Edukasi</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="Pesan">Pesan</a>
          </li>
            <a class="nav-link" href="#"><img src="../../../assets/img/Foto Profil.svg" class="FotoProfil" width="35px" alt=""></a>
        </ul>
      </div>
    </div>
  </nav>


  <section class="main-header">
    <div class="container">
      <div class="header">
        <h2>Pesan</h2>
      <p>Pesan Masuk dari Para Pengunjung</p>
      </div>
      <nav class="navbar" style="background-color: #3C6BC6; color: #fafafa;">
        <div class="container-fluid">
          <div class="menu d-flex">
            <a href="#" class="nav-link" id="terbit">Masuk</a>
          </div>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="" style="color: #fafafa; background: none; border: none ;" type="submit"><i class="bi bi-search"></i></button>
          </form>
        </div>
      </nav>
      <br>
      <table class="table table-bordered">
        <thead class="text-white" style="background-color: #3C6BC6;">
          <tr>
              <th>Postingan</th>
              <th class="text-center"><a href="#" class="text-white" style="text-decoration: none;">Tambahkan</a></th>
          </tr>
        </thead>
        <tbody>
          <tr>
              <td></td>
              <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>



  