<!DOCTYPE html>
<html lang="en">
<head>
<title></title>
</head>
<body>
    <!-- Logo Carekids -->
    <div class="hiasan-login">
    <img src="../../../assets/img/iug 1.svg" class="Logo" alt="Carekids">
    </div>
    
    <!-- form Login -->
    <div class="container-fluid">
        <section class="form-login d-flex">
            <div class="login">
                <div class="row">
                    <div class="col-12">
                        <div class="header text-center">
                            <h2>LOGIN</h2>
                            <P>Selamat datang kembali !</P>
                          </div>
                          <div class="login-form">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" placeholder="Enter your email">  
                            
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" placeholder="Enter your password">
                            <button class="showhide btn btn-link"><i class="bi bi-eye"></i></button>
                            <button type="submit" class="signin btn-outline-light   ">Sign in</button>
                          </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
        
</body>
</html>