<div class="container">
    <form action="">
    <div class="form-group">
        <img src="../../../assets/img/iug 1.svg" class="logo" alt="">
        <label for="">Email</label>
       <div class="input-group">
        <div class="input-group-prepend">
            <div class="input-group-text"><i class="fas fa user"></i></div>
            <input type="text" class="form-control text-center" name="username" placeholder="Masukkan Username">
        </div>
       </div>
       <label for="">Password</label>
       <div class="input-group">
        <div class="input-group-prepend">
            <div class="input-group-text"><i class="fas fa user"></i></div>
            <input type="password" class="form-control text-center" name="username" placeholder="Masukkan Password">
        </div>
       </div>
       <button type="submit" class="btn btn-primary">Sign in</button>
    </div>
</form>
</div>