<!DOCTYPE html>
<html lang="en">
<head>
<!-- Google font -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Symbols&family=Poppins&family=Space+Grotesk&display=swap" rel="stylesheet">
<title></title>
</head>
<body>
    <!-- Logo Carekids -->
    <div class="hiasan-login">
    <img src="../../../assets/img/hiasan login.svg" class="hiasan">
    <img src="../../../assets/img/iug 1.svg" class="Logo" alt="Carekids">
    </div>
    
    <!-- form Login -->
        <section class="form-login d-flex">
            <div class="login">
                <div class="row">
                    <div class="col-12">
                        <div class="header text-center">
                            <h2>LOGIN</h2>
                            <P>Selamat datang kembali !</P>
                          </div>
                          <div class="login-form">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" placeholder="Enter your email">  
                            
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" placeholder="Enter your password">
                            <button type="submit" class="signin">Sign in</button>
                          </div>
                    </div>
                </div>
            </div>
        </section>
</body>
</html>